* {
    margin: 0;
    padding: 0;
}
.container {
    margin: 20px 8%;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.nav-center {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 24px;
}

.nav-center li a {
    text-decoration: none;
    color: #575757;
    font-family: Arial, Helvetica, sans-serif;
}

.reg-btn {
    padding: 12px 24px;
    border: none;
    background-color: #1D4ED8;
    color: #FFFFFF;
    border-radius: 12px;
    font-weight: bolder;
    cursor: pointer;
    font-family: "Inter", sans-serif;
}

.hero {
    background-image: linear-gradient(to right,rgba(0, 0, 0, 0.6) 30%, rgba(0, 0, 0, 0) 70%), linear-gradient( 225deg,rgba(0, 0, 0, 0) 42%,rgba(0, 0, 0, 0.88) 87%), url("./assets/banner.jpg");
    background-size: cover;
    height: 90vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    justify-content: center;
    align-items: center;
}

.hero-content {
    color: white;
    margin: 0 25%;
}
.hero-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 38px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
}
.hero-content p {
    font-size: 20px;
    text-align: center;
    opacity: 0.9;
    font-family: "Inter", sans-serif;
}
.hero-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-btn button {
    padding: 16px 48px;
    font-size: 18px;
}
.meet-speakers{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 70px;
    font-family: "Inter", sans-serif;
}
.meet-speakers h1 {
    margin-bottom: 50px;
    font-size: 45px;
    margin-top: 50px;
}
.speaker-card {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;

}
.speaker-card div {
    border: 2px solid #E5E7EB;
    border-radius: 12px;
    overflow: hidden;
}
.speaker-card div img {
    max-width: 100%;
    margin-bottom: 15px;
}
.speaker-card div p {
    padding: 10px 25px;
    
}
.sp-catergory {
    color: #2563EB;
    font-weight: bold;
    
}
.sp-name {
    font-size: 18px;
    font-weight: bold;
    color: #0D1B2A;
}
.sp-title {
    color: #575757;
    margin-bottom: 15px;
}
.secure-spot {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 90px;
    font-family: "Inter", sans-serif;
}
.secure-spot h1 {
    font-size: 45px;
    margin-bottom: 8px;
}
.secure-spot p {
    color: #575757;
}
.pricing-parent {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 20px ;
    gap: 25px;
    margin: 30px 0px;
}
.pricing-card {
    border: 2px solid #E5E7EB;
    padding: 30px;
    border-radius: 12px;
}
.pricing-card div {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.plan-name {
    color: #888888;
    font-weight: 600;
    margin: 4px;
}
.pricing-card div h1 {
    color: #0D1B2A;
    margin: 0;
}
.pricing-card div p {
    color: #888888;
    margin-bottom: 5px;
}
.pricing-card ul {
    margin-left: 18px;
}
.pricing-card ul li::marker{
    color: #2563EB;
}
.pricing-card ul li {
    color: #333333;
    margin-bottom: 10px;
    font-size: 15px;
}
.p-btn {
    margin-top: 20px;
    background-color: #FFFFFF;
    color: #2563EB;
    border: 1px solid #2563EB;
    border-radius: 8px;
}
#middle-card {
    background-color: #0D1B2A;
}
#middle-card .plan-name {
    color: #93C5FD;
}
#middle-card div h1 {
    color: #FFFFFF;
}
#middle-card .p-btn {
    color: #FFFFFF;
    background-color: #2563EB;
}
 #middle-card ul li {
    color: #FFFFFF;
    opacity: 0.8;
 }
 #team-btn {
    border-color: #0D1B2A;
    color: #0D1B2A;
 }